{% set currentlocale = app.request.locale %}
{% set route = app.request.get('_route') %}
{% if 'default' in route %}
  {% set route = route[8:] %}
{% endif %}
{% set route_params = app.request.get('_route_params') %}

<select class="bs-select" onchange="redirect(event, '{{ path(route, route_params) }}', '{{ path('update_locale') }}')">
  {%- for locale in locales | split('|') | sort -%}
    <option value="{{ locale }}" {{ locale == currentlocale ? 'selected' : '' }}>
      {{- locale[:2] | trans({}, 'locales', currentlocale) }} - {{ locale[3:] | trans({}, 'locales', currentlocale) -}}
    </option>
  {%- endfor -%}
</select>
