{% set currentlocale = app.request.locale %}

{%- if not error is null -%}
  <div class="alert alert-danger">
    {{- error.messageKey | trans(error.messageData, 'security', currentlocale) -}}
  </div>
{%- endif -%}
<form action="{{ path('login') }}" method="post">
  <div class="form-group">
    <input id="email_modal" name="username" type="text" placeholder="{{ 'username' | trans([], 'messages', currentlocale) }}" value="{{ username }}" class="form-control"/>
  </div>
  <div class="form-group">
    <input id="password_modal" name="password" type="password" placeholder="{{ 'password' | trans([], 'messages', currentlocale) }}" class="form-control"/>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-template-outlined">
      <i class="fa fa-sign-in"></i>
      <span>
        {%- trans from 'messages' into currentlocale -%}
          login
        {%- endtrans -%}
      </span>
    </button>
  </div>
</form>
<div class="text-center text-muted">
  <p>
    {%- trans from 'messages' into currentlocale -%}
      register.not
    {%- endtrans -%}
  </p>
  <p>
    <a href="{{ path('register_get') }}">
      <strong>
        {%- trans from 'messages' into currentlocale -%}
          register.now
        {%- endtrans -%}
      </strong>
    </a>
  </p>    
</div>
