{% set currentlocale = app.request.locale %}

<!-- Remove #order-summary when #order-listing is done. -->
{%- if orders is empty -%}
  <div class="box mt-0 pb-0">
    {%- trans from 'messages' into currentlocale -%}
      order.has.none
    {%- endtrans -%}
  </div>
{%- else -%}
  <div id="order-summary" class="box mt-0 mb-4 p-0">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              order.key
            </th>
            {%- if admin -%}
              <th>
                order.client.username
              </th>
            {%- endif -%}
            <th>
              order.date
            </th>
            <th>
              order.cost
            </th>
            {%- if admin -%}
              <th>
                order.state
              </th>
            {%- endif -%}
          </tr>
        </thead>
        <tbody>
          {%- for order in orders -%}
            <tr>
              <td>
                <a href="{{ path('show_order', { 'key': order.key })}}">
                  {{- order.key -}}
                </a>
              </td>
              {%- if admin -%}
                <td>
                  {{- order.client.username -}}
                </td>
              {%- endif -%}
              <td class="date">
                {{- order.date | date('Y-m-d\\TH:i:sP', false) -}}
              </td>
              <td>
                {{- order.cost.total.write(currentlocale) -}}
              </td>
              {%- if admin -%}
                <td>
                  {{- order.state -}}
                </td>
              {%- endif -%}
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{%- endif -%}