{% set currentlocale = app.request.locale %}

<div class="top-bar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-8 col-lg-9">
        {%- include 'dropdowns/locale.html.twig' only -%}
      </div>
      <div class="col justify-content-md-end">
        <div class="row">
          <div class="col-1">
            <a href="{{ path('show_cart') }}">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
          <div class="col">
            {%- if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
              <a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">
                {%- trans from 'menus' into currentlocale -%}
                  account
                {%- endtrans -%}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <a href="{{ path('fos_user_profile_edit') }}" class="nav-link">
                    <span class="d-none d-md-inline-block">
                      {%- trans from 'menus' into currentlocale -%}
                        account.data.change
                      {%- endtrans -%}
                    &nbsp;</span>
                    <i class="fa fa-cog"></i>
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="{{ path('fos_user_change_password') }}" class="nav-link">
                    <span class="d-none d-md-inline-block">
                      {%- trans from 'menus' into currentlocale -%}
                        account.password.change
                      {%- endtrans -%}
                    &nbsp;</span>
                    <!--<i class="fa fa-cog"></i>-->
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                    <span class="d-none d-md-inline-block">
                      {%- trans from 'menus' into currentlocale -%}
                        logout
                      {%- endtrans -%}
                    &nbsp;</span>
                    <i class="fa fa-sign-out"></i>
                  </a>
                </li>
              </ul>
            {%- else -%}
              <a href="{{ path('fos_user_security_login') }}" class="login-btn nav-link">
                <i class="fa fa-sign-in"></i>
                <span class="d-none d-md-inline-block">
                  {%- trans from 'menus' into currentlocale -%}
                    login.sign
                  {%- endtrans -%}
                </span>
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
