{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    {%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
      account.data
    {%- else -%}
      account.register
    {%- endif -%}
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: is_granted('IS_AUTHENTICATED_FULLY') ? 'account.data' : 'account.register',
    items: { }
  } only -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      <div class="md-col-6">
        {%- include 'snippets/client-form.html.twig' with { form: user } only -%}
      </div>
      <div class="col">
        {# TODO: Activate validation #}
        {{- form_start(password, {'attr': {'novalidate': 'novalidate'}}) -}}
          <div class="form-group">
            {{- form_errors(password.old) -}}
            {{- form_label(password.old) -}}
            {{- form_widget(password.old) -}}
          </div>
          <div class="form-group">
            {{- form_errors(password.value) -}}
            {{- form_label(password.value) -}}
            {{- form_widget(password.value) -}}
          </div>
          <div class="form-group">
            {{- form_errors(password.confirm) -}}
            {{- form_label(password.confirm) -}}
            {{- form_widget(password.confirm) -}}
          </div>
          {{- form_widget(password.submit) -}}
        {{- form_end(password) -}}
      </div>
    </div>
  </div>
{%- endblock %}
