{% extends 'order-showing-base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    billing
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'billing',
    items: { }
  } only -%}
{%- endblock %}

{% block sidebar -%}
  {%- for message in app.flashes('stripe-charge') -%}
    <div class="row alert alert-error">
      {{- message -}}
    </div>
  {%- endfor -%}
  <div class="row">
    <form action="{{ path('order_cart_post') }}" method="post">
      {%- set cost = order.cost -%}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_ZVZFLIOvs8VSCETp9d3D0utD"
        data-amount="{{ (cost.total.value * 100) | round }}"
        data-currency="{{ cost.total.unit.key }}"
        data-email="{{ order.client.email }}"
        data-name="{{ companyname }}"
        data-locale="{{ currentlocale}}">
      </script>
    </form>
  </div>
{%- endblock %}
