{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    cart
  {%- endtrans -%}
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'cart',
    items: { }
  } only -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      {%- if order.items is empty -%}
        <div class="box mt-0 pb-0 no-horizontal-padding">
          {%- trans from 'messages' into currentlocale -%}
            cart.is.empty
          {%- endtrans -%}
          <div class="box-footer d-flex justify-content-between align-items-center">
            <a href="{{ path('list_products') }}" class="btn btn-secondary mt-0">
              <i class="fa fa-chevron-left"></i>
              {%- trans from 'messages' into currentlocale -%}
                continue.shopping
              {%- endtrans -%}
            </a>
          </div>
        </div>
      {%- else -%}
        <div class="col-lg-3">
          {%- include 'snippets/order-summary.html.twig' with { cost: order.cost } only -%}
        </div>
        <div class="col">
          <div id="basket">
            <div class="box mt-0 pb-0 no-horizontal-padding">
              <form>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">
                          {%- trans from 'messages' into currentlocale -%}
                            product
                          {%- endtrans -%}
                        </th>
                        <th>
                          {%- trans from 'messages' into currentlocale -%}
                            quantity
                          {%- endtrans -%}
                        </th>
                        <th>
                          {%- trans from 'messages' into currentlocale -%}
                            unitprice
                          {%- endtrans -%}
                        </th>
                        {# To be implemented later
                        <th>
                          {%- trans from 'messages' into currentlocale -%}
                            discount
                          {%- endtrans -%}
                        </th>#}
                        <th colspan="2">
                          {%- trans from 'messages' into currentlocale -%}
                            total
                          {%- endtrans -%}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {%- for item in order.items -%}
                        <tr>
                          <td>
                            <a href="{{ path('show_product', { 'type': item.product | product_kind, 'key': item.product.key })}}">
                              <img src="{{ asset("databasemedia/#{ item.product.mainimage }.png") }}" alt="{{ 'product.image' | trans({}, 'messages', currentlocale) }}" class="img-fluid"/>
                            </a>
                          </td>
                          <td>
                            <a href="{{ path('show_product', { 'type': item.product | product_kind, 'key': item.product.key })}}">
                              {{- item.product.translate(currentlocale).name -}}
                            </a>
                          </td>
                          <td>
                            <input type="number" name="cartitems[{{ item.product.key }}]" min="0" value="{{ item.quantity }}" class="form-control"/>
                          </td>
                          <td>
                            {{- item.cost.write(currentlocale) -}}
                          </td>
                          {#<td>
                            {{- item.cost.write(currentlocale) -}}
                          </td>#}
                          <td>
                            {{- item.cost.multiplyByConstant(item.quantity).write(currentlocale) -}}
                          </td>
                          <td>
                            <button type="submit" formaction="{{ 
                              path('remove_from_cart', { item: item.product.key })
                            }}" formmethod="post" class="btn btn-secondary">
                              <i class="fa fa-trash-o"></i>
                            </button>
                          </td>
                        </tr>
                      {%- endfor -%}
                    </tbody>
                    <tfoot>
                      <tr>
                        {#<th colspan="5">#}
                        <th colspan="4">
                          {%- trans from 'messages' into currentlocale -%}
                            total
                          {%- endtrans -%}
                        </th>
                        <th colspan="2">
                          {{- order.cost.cost.write(currentlocale) -}}
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
                  <div class="box-footer d-flex justify-content-between align-items-center">
                    <div class="left-col">
                      <a href="{{ path('list_products') }}" class="btn btn-secondary mt-0">
                        <i class="fa fa-chevron-left"></i>
                        {%- trans from 'messages' into currentlocale -%}
                          continue.shopping
                        {%- endtrans -%}
                      </a>
                    </div>
                    <div class="right-col">
                      <button type="submit" formaction="{{ path('empty_cart') }}" formmethod="post" class="btn btn-secondary">
                        <i class="fa fa-trash-o"></i>
                        {%- trans from 'messages' into currentlocale -%}
                          cart.empty
                        {%- endtrans -%}
                      </button>
                      <button type="submit" formaction="{{
                        path('update_cart', { type: 'update' })
                      }}" formmethod="post" class="btn btn-secondary">
                        <i class="fa fa-refresh"></i>
                        {%- trans from 'messages' into currentlocale -%}
                          cart.update
                        {%- endtrans -%}
                      </button>
                      <button type="submit" formaction="{{
                        path('update_cart', { type: 'checkout' })
                      }}" formmethod="post" class="btn btn-template-outlined">
                        {%- trans from 'messages' into currentlocale -%}
                          checkout
                        {%- endtrans -%}
                        <i class="fa fa-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endblock %}
