{% extends 'order-showing-base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    order.showing
  {%- endtrans -%}
{%- endblock %}

{%- block scripts %}
  <script defer src="{{ asset('vendor/moment.js/moment-with-locales.js') }}"></script>
  <script defer src="{{ asset('js/moment-initialize.js') }}"></script>
  {%- if not order.isCancelled -%}
    <script defer src="{{ asset('vendor/moment.js/moment-duration-format.js') }}"></script>
    <script defer src="{{ asset('js/moment-duration-locale-setter.js') }}"></script>
    <script defer src="{{ asset('js/moment-interval-handler.js') }}"
      data-time="{{ order.date | date('Y-m-d\\TH:i:sP', false) }}"
      data-cancel-label="{{ 'order.time.to.cancel' | trans() }}"
      data-action="{{ path('order_cancel', { 'key': order.key }) }}">
    </script>
  {%- endif -%}
{% endblock -%}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'order.showing',
    items: { 'order.listing': path('list_orders') }
  } only -%}
{%- endblock %}

{% block sidebar -%}
  {%- for message in app.flashes('stripe-refund') -%}
    <div class="row alert alert-error">
      {{- message -}}
    </div>
  {%- endfor -%}
  {%- if not order.isCancelled -%}
    <div id="sidebar-data" class="row">
      <span>order.date:&nbsp;</span>
      <span class="date">{{- order.date | date('Y-m-d\\TH:i:sP', false) -}}</span>
    </div>
  {%- else -%}
    <div class="row">
      {{- order.state -}}
    </div>
  {%- endif -%}
{%- endblock %}
