{% extends 'base.html.twig' %}

{% block title -%}
  {%- trans from 'menus' into currentlocale -%}
    product.our
  {%- endtrans -%}
{%- endblock %}

{% block scripts -%}
  <script defer src="{{ asset('js/product-popup.js') }}"></script>
{%- endblock %}

{% block heading -%}
  {%- include 'snippets/heading.html.twig' with {
    current: 'product.our',
    items: { }
  } only -%}
{%- endblock %}

{% block body -%}
  <div class="container">
    <div class="row bar">
      <div class="col-md-9">
        {%- if products is empty -%}
          {%- trans from 'messages' into currentlocale -%}
            item.none.found
          {%- endtrans -%}
        {%- else -%}
          <div class="row products products-big">
            {%- for product in products -%}
              <div class="col-lg-4 col-md-6">
                <div class="product">
                  <div class="image">
                      <a href="{{ path('show_product', {
                        '_locale': currentlocale,
                        'type': product.product | product_kind,
                        'key': product.product.key
                      }) }}" onclick="popup(this.href, '{{ product.product.translate(currentlocale).name }}'); return false;">
                        <img src="{{ asset("databasemedia/#{ product.mainimage }.png") }}" alt="{{ 'product.image' | trans({}, 'messages', currentlocale) }}" class="img-fluid"/>
                    </a>
                  </div>
                  <div class="text">
                    <h3 class="h5">
                      <a data-target="#loading-modal" href="{{ path('show_product', {
                        '_locale': currentlocale,
                        'type': product.product | product_kind,
                        'key': product.product.key
                      }) }}" onclick="popup(this.href, '{{ product.product.translate(currentlocale).name }}'); return false;">
                        {{- product.product.translate(currentlocale).name -}}
                      </a>
                    </h3>
                    <p class="price">{{product.cost}}</p>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
      <div class="col">
        {%- block filters -%}
          {%- include 'side-panels/product-filters.html.twig' with {
            'manufacturers': filters['manufacturers']
          } only -%}
        {%- endblock -%}
      </div>
    </div>
  </div>
{%- endblock %}

{% block modals -%}
  {%- include 'modals/product-details.html.twig' -%}
{%- endblock %}
